.place__paragraphs {
  font-family: "Inter", Arial, "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  line-height: 29px;
  font-size: 18px;
  order: 3;
  align-self: start;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
      max-width: 456px;
  }
}
@media screen and (max-width: 768px) {
  .place__paragraphs {
      max-width: 352px;
      line-height: 26px;
      font-size: 16px;
  }
}
