.header {
    max-width: 1184px;
    margin: 0 auto;
    padding: 28px 48px 56px 48px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }