.header {
  margin: 0 auto;
  padding: 28px 0 56px;
  background-color: #2A2C2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  @media screen and (max-width: 1024px) {
    .header {
      padding: 28px 48px 48px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
      padding: 28px 24px 48px 24px;
    }
  }

  @media screen and (max-width: 320px) {
    .header {
      padding: 16px 16px 48px 16px;
    }
  }
