.lead__title {
  margin: 0 0 32px 0;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.1;
  color: #FFFFFF;
  text-align: center;
  align-self: center;
  }