.place__paragraph {
  grid-column: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 27px;
  color: #FFFFFF;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    grid-column: 1;
    margin: 0 auto 25px auto;
    max-width: 288px;
  }
}
