.intro__text {
  max-width: 690px;
  font-family: 'Inter', "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 33px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .intro__text {
      max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
