.cover {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 93%;
  min-height: 740px;
  background-image: url('../../images/cover__background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 1024px;
  }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .cover {
    width: 100%;
  }
}
