.place__link {
    color: #FFFFFF;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: .8;
}
