.lead__caption {
  margin: 0;
  margin-top: 8px;
  font-family: 'Inter', "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: start;
  }

@media screen and (max-width:768px) {
  .lead__caption {
    margin-left: 24px;
  }
}


@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
